{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1>Learning Resources</h1>
    
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Online Courses</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2">
                            <a href="https://www.coursera.org" target="_blank">Coursera</a>
                        </li>
                        <li class="mb-2">
                            <a href="https://www.udemy.com" target="_blank">Udemy</a>
                        </li>
                        <li class="mb-2">
                            <a href="https://www.edx.org" target="_blank">edX</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Certifications</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2">
                            <a href="https://www.aws.training" target="_blank">AWS Certifications</a>
                        </li>
                        <li class="mb-2">
                            <a href="https://www.microsoft.com/learn" target="_blank">Microsoft Certifications</a>
                        </li>
                        <li class="mb-2">
                            <a href="https://cloud.google.com/certification" target="_blank">Google Cloud Certifications</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Career Development</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2">
                            <a href="https://www.linkedin.com/learning" target="_blank">LinkedIn Learning</a>
                        </li>
                        <li class="mb-2">
                            <a href="https://www.pluralsight.com" target="_blank">Pluralsight</a>
                        </li>
                        <li class="mb-2">
                            <a href="https://www.freecodecamp.org" target="_blank">freeCodeCamp</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
